@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Jomolhari&family=Satisfy&display=swap');

/* Reset CSS */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  background-color: #F7E7D0;
}
h1 {
  margin: 10px;
  font-family: 'Purple Purse', cursive;
  font-size: 50px;
  font-weight: bold;
}

ul {
  font-size: 20px;
}

p{
  font-family: 'Jomolhari', serif;
  text-align: justify;
  margin: 10px;
  text-indent: 1em;
} 