/* Style du headerComp */
header { 
  padding: 1em;
  background-color: #400738;
}

.menu {
  height:125px; 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu__list {
  display: flex;
  flex-direction: row;
}

.menu__item {
  margin: 10px 25px;
  font-size: 24px;
}

.menu__item a {
  text-decoration: none;
  color: #93B5F4;
}

.menu__item:hover {
    font-size: 30px;
}

.menu__logo {
    position: fixed;
    width: 125px;
    right: 1em;
    top: 1em;
    border: 3px solid #400738;
    border-radius: 20%;
}

.menu__logo:hover {
  width: 250px;
}

/* style du footerComp */

footer {
  background-color: #400738;
  color: #F7E7D0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link__logo {
  width: 40px;
}

.update {
  text-align: center;
  padding-bottom: 20px;
  font-size: small;
  color: #93B5F4;
}